name: Bump Flake Inputs

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  update:
    if: github.repository == 'ayla6/pkgs'
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Lix
        uses: DeterminateSystems/nix-installer-action@v21
        with:
          source-url: https://install.lix.systems/lix/lix-installer-x86_64-linux
          logger: pretty
          diagnostic-endpoint: ""

      - name: Setup Git
        run: |
          git config --global user.name  "github-actions[bot]"
          git config --global user.email  "github-actions[bot]@users.noreply.github.com"

      - name: Update Lockfile
        run: nix flake update --commit-lock-file

      - name: Update Packages
        run: nix run .#update

      - name: Push changes
        run: git push origin main
